@{
    ViewBag.Title = "Customer Profile Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        smm.customerProfileOnLoad();
    });
</script>

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Customer Profile Master</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    <div class="col-lg-12"><p id="msg" style="color:#ef0f44;text-align:center">@ViewBag.Msg</p></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        @using (Html.BeginForm("managecustomerprofile", "admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "UserProfileform" }))
                        {
                            <input type="hidden" id="UserId" name="UserId" value="0" />
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="First Name" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="MiddleName" name="MiddleName" class="form-control" placeholder="Middle Name" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Last Name" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group pb-2">
                                    <input type="text" id="MobileNo" tp-type="numeric" class="form-control" name="MobileNo" placeholder="Mobile Number" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="email" tp-type="email" id="EmailId" class="form-control" name="EmailId" placeholder="Email id" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="CountryName" name="CountryName" class="form-control" placeholder="Country Name" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="StateName" name="StateName" class="form-control" placeholder="State Name" required="" />
                                </div>
                            </div>
                            <div>
                                <div class="styled-input">
                                    <div class="col-md-4 form-group">
                                        <input type="text" id="CityName" name="CityName" class="form-control" placeholder="City Name" required="" />
                                    </div>
                                </div>
                                <div class="styled-input">
                                    <div class="col-md-4 form-group">
                                        <input type="text" id="PinCode" maxlength="7" class="form-control" name="PinCode" placeholder="Pin Code" required="" />
                                    </div>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-12 form-group">
                                    <textarea rows="1" cols="20" type="text" class="form-control" id="Address" name="Address" placeholder="Address" required=""></textarea>
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="CompanyName" class="form-control" name="CompanyName" placeholder="Company Name" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="AccountNumber" class="form-control" name="AccountNumber" placeholder="Account Number" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="IFSCCode" class="form-control" name="IFSCCode" placeholder="IFSC Code" required="" />
                                </div>
                            </div>
                            <div class="styled-input">
                                <div class="col-md-4 form-group">
                                    <input type="text" id="AccountHolderName" class="form-control" name="AccountHolderName" placeholder="Account Holder Name" required="" />
                                </div>
                            </div>
                            <div class="col-lg-12"><p style="color:#ef0f44;text-align:center" id="userprofilemsg"></p></div>
                            <div class="appointment-btn text-lg-right">
                                <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary">Create Profile</button>
                            </div>
                        }
                    </div>
                </div>
                <div class="blank-page">
                    <div id="listGrid"></div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->
    <!---->
</div>