@model IMS.Models.ViewModel.ItemMaster
@{
    ViewBag.Title = "Lebels";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}

@{
    var AppToken = Convert.ToString(@Model.AppToken);
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Labels</span>
            </h2>
        </div>
        <!--//banner-->
        <!--content-->
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    @Html.Partial("~/Views/Shared/_MessageBox.cshtml")
                    <div>
                        <button class="btn pull-left" id="btnPrint" onclick="printContent('printarea');">Print Label</button>
                    </div>
                    <div class="clearfix"></div>
                    <div id="printarea" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group pull-right">
                        <img src="~/ItemBarCode/@Url.Content(@Model.ItemId.ToString() + ".gif" )" alt="" />
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//content-->
    <!---->
</div>
<script type="text/javascript">
    function printContent(el) {
        var restorepage = $('body').html();
        var printcontent = $('#' + el).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
    }
</script>
<style>
    @@media print {
        #btnPrint {
            display: none;
        }
    }
</style>
