@model IMS.Models.ViewModel.UserMaster
@{
    ViewBag.Title = "User Master";
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
@{
    var AppToken = Convert.ToString(@Model.AppToken);
}

<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/admin/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>User Master</span>
            </h2>
        </div>
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    <div class="col-md-1">
                        <div class="appointment-btn" style="margin-right: -18px !important;margin-bottom: 50px !important;">
                            <a href="/master/manageusermaster?AppToken=@Model.AppToken" name="AddUser" id="AddUser" class="btncustome pull-right">Add User</a>
                        </div>
                    </div>
                    <div id="listGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var result;
        var loadData = () =>{
            IMSC.ajaxCall("GET", "/Master/GetUserMaster?AppToken=" + '@Model.AppToken', {}, "text", function (d) {
                result = JSON.parse(d);
                if (result !== "null" && result !== "") {
                    var fields = [
                        {
                            title: "Action",
                            width: 40,
                            itemTemplate: function (value, args) {
                                switch (@Model.AuthMode) {
                                    case 0:
                                        break;
                                    case 1:
                                        $('#btnSubmit').removeClass("hidden");
                                        break;
                                    case 2:
                                        $('#btnSubmit').removeClass("hidden");
                                        var $customeEditButton = `<a href="/master/ManageUserMaster?userId=${args.User_Id}&appToken=@Model.AppToken" class="btncustome"><i class="fa fa-edit"></i></a>`;
                                        return $("<div class='display-flex'></div>").append($customeEditButton);
                                    case 3:
                                        $('#btnSubmit').removeClass("hidden");
                                        var $customeEditButton = `<a href="/master/ManageUserMaster?userId=${args.User_Id}&AppToken=@Model.AppToken" class="btncustome" style="margin-right:5px"><i class="fa fa-edit"></i></a>`;
                                        var $customeDeleteButton = $('<a class="btncustome"><i class="fa fa-trash"></i></a>')
                                            .click(function (e) {
                                                deleteFormData(args);
                                                return false;
                                            });
                                        return $("<div class='display-flex'></div>").append($customeEditButton, $customeDeleteButton);
                                    default:
                                        break;
                                }
                            }
                        },
                        { name: "User_Id", css: "hidden", },
                        { name: "UserName", type: "text", title: "User Name", sorting: true, filtering: true, width: 40 },
                        { name: "FullName", type: "text", title: "Name", sorting: true, filtering: true, width: 40 },
                        { name: "Mobile", type: "text",title: "Mobile", sorting: true, filtering: false, width: 80 },
                        { name: "Email", type: "text",title: "Email", sorting: true, filtering: false, width: 80 },
                        { name: "PrimaryRoleName", title: "Role", sorting: true, filtering: false, width: 80 }
                    ];
                    var options = {
                        filtering: true,
                        editing: true,
                        sorting: true,
                        paging: true,
                        autoload: true,
                        controller: {
                            users: result,
                            loadData: function (filter) {
                                return $.grep(this.users, function (user) {
                                    return ((!filter.UserName || user.UserName.toLowerCase().indexOf(filter.UserName.toLowerCase()) > -1)
                                        && (!filter.FullName || user.FullName.toLowerCase().indexOf(filter.FullName.toLowerCase()) > -1)
                                        && (!filter.Mobile || user.Mobile.toLowerCase().indexOf(filter.Mobile.toLowerCase()) > -1)
                                        && (!filter.Email || user.Email.toLowerCase().indexOf(filter.Email.toLowerCase()) > -1));
                                });
                            }
                        },
                        fields: fields
                    };
                    $.extend(options, IMSC.grid_options);
                    $("#listGrid").jsGrid(options);
                    IMSC.filteOnKeyPress("#listGrid");
                 }
            });
        };
        var deleteFormData = function (oUser) {
            if (oUser.User_Id > 0) {
                IMSC.ajaxCall("POST", "/master/DeleteUserMaster?userId=" + oUser.User_Id +"&appToken=" + '@Model.AppToken', {}, "text", function (d) {
                    var jsonResponse = JSON.parse(d);
                    if (jsonResponse.Status === "Success") {
                        loadData();
                    }
                    else {
                        //Show Error message if any error
                    }
                });
            }
        };
        loadData();
    });
</script>