
@{
    ViewBag.Title = "ForgetPassword";
}


<!--===============================================================================================-->
11<link rel="icon" type="image/png" href="~/Images/Icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/main.css">
<!--===============================================================================================-->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-90 p-b-30">
            <div class="login100-form validate-form">
                <div class="login100-form-title">
                    Welcome To NewsLive&nbsp;24X07
                </div>

                <div class="text-center p-t-10 p-b-10">
                    <span class="txt1Error">
                        @ViewBag.Msg
                    </span>
                </div>
                @using (Html.BeginForm("Message", "EntryPoint", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter ID">
                        <input class="input100" type="text" name="ID" placeholder="EmailID">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Next
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/bootstrap.min.js"></script>

<!--===============================================================================================-->
<script src="~/Scripts/EntryPoint/main.js"></script>
<!--===============================================================================================-->
