
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Syssoftech :: IT</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/assets/home/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="~/assets/home/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Reem+Kufi&amp;subset=arabic" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
    <!-- title -->
    <h1>
        <span>W</span>elcome
        <span>I</span>n
        <span>I</span>MS
    </h1>
    <!-- //title -->
    <!-- content -->
    <div class="sub-main-w3">
        <div class="text-center p-t-10 p-b-10">
            <span class="txt1Error">
                @ViewBag.Msg
            </span>
        </div>
        <form  id="loginform" novalidate="novalidate" method="post">
            @Html.AntiForgeryToken()
            <div class="form-style-agile">
                <label>
                    Username
                    <i class="fas fa-user"></i>
                </label>
                <input placeholder="Username" id="loginid" name="loginid" type="text" />
            </div>
            <div class="form-style-agile">
                <label>
                    Password
                    <i class="fas fa-unlock-alt"></i>
                </label>
                <input placeholder="password" name="password" type="password" />
            </div>
            <!-- checkbox -->
            <div class="wthree-text">
                <ul>
                    <li>
                        <!-- switch -->
                        <div class="checkout-w3l">
                            <div class="demo5">
                                <div class="switch demo3">
                                    <input type="checkbox">
                                    <label>
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                            <a href="#">Stay Signed In</a>
                        </div>
                        <!-- //checkout -->
                    </li>
                    <li>
                        <a href="#">Forgot Password?</a>
                    </li>
                </ul>
            </div>
            <!-- //switch -->
            <div class="col-lg-12"><p style="color:#03A9F4;text-align:center" id="msg"></p></div>
            <input type="submit" id="loginsubmit" name="loginsubmit" value="Log In">
        </form>
    </div>
    <!-- //content -->
    <!-- copyright -->
    <div class="footer">
        <p>
            &copy; 2021 IMS. All rights reserved | Design by
            <a href="http://syssoftech.com">Syssoftech It Solutions</a>
        </p>
    </div>
    <!-- //copyright -->
    <!--===============================================================================================-->
    <script src="~/assets/home/js/jquery-3.3.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/home/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/home/js/main.js"></script>
    <!--===============================================================================================-->
    <script src="~/assets/common.js"></script>
    <script src="~/assets/jquery.validate.js"></script>
    <script src="~/assets/shared.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

</body>

</html>