<div class="copy">
    <p> &copy; @DateTime.Now.Year IMS. All Rights Reserved | Design by <a href="https://www.thalesgroup.com/en/global/about-us" target="_blank"> RAF-CS INDIA PVT LTD (THALES)</a> </p>
</div>