
<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1> <a class="navbar-brand" href="/admin/dashboard">IMS</a></h1>
    </div>
    <div class=" border-bottom">
        <div class="full-left">
            <section class="full-top">
                <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
            </section>
            <form class=" navbar-left-right">
                <input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
                <input type="submit" value="" class="fa fa-search">
            </form>
            <div class="clearfix"> </div>
        </div>
    </div>

    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="drop-men">
        <ul class=" nav_1">
            <li class="dropdown">
                <a href="/DashBoard/DashBoard" class="dropdown-toggle dropdown-at" data-toggle="dropdown">@Session["UserName"]<span class=" name-caret"><i class="caret"></i></span></a><a target="_blank" href="/Home/index">
                    <img src="~/assets/admin/images/logo.png" style="height:60px">
                </a>
                <ul class="dropdown-menu " role="menu">
                    <li><a href="#"><i class="fa fa-user"></i>Edit Profile</a></li>
                    <li><a href="/home/SignOut"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                </ul>
            </li>

        </ul>
    </div><!-- /.navbar-collapse -->
    <div class="clearfix">

    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#" class="hvr-bounce-to-right"><i class="fa fa-list nav_icon"></i> <span class="nav-label">Master Forms</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Index", "UserMaster")" class="hvr-bounce-to-right"><i class="fa fa-user nav_icon "></i><span class="nav-label">User Master</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("FinancialIndex", "Master")" class="hvr-bounce-to-right"><i class="fa fa-calendar nav_icon "></i><span class="nav-label">Financial Master</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("StateIndex", "Master")" class="hvr-bounce-to-right"><i class="fa fa-location-arrow nav_icon "></i><span class="nav-label">State Master</span></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="hvr-bounce-to-right"><i class="fa fa-file nav_icon"></i> <span class="nav-label">Reports</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="hidden">
                            <a href="dashboard" class="hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Day Book Report</span> </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>