<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/assets/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/assets/admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/assets/admin/css/font-awesome.css" rel="stylesheet">
    <script src="~/assets/admin/js/jquery.min.js"></script>

    <!-- jQuery -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>*@
    <!--JsGrid Files -->
    <link type="text/css" href="~/assets/admin/css/jsgrid.min.css" rel="stylesheet" />
    <link type="text/css" href="~/assets/admin/css/jsgrid-theme.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/assets/admin/js/jsgrid.min.js"></script>
    <!--JsGrid Files End -->
    <!--select 2 js-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <!--end select 2 js-->

    <script src="~/assets/jquery.validate.js"></script>
    <script src="~/assets/admin/js/jquery.metisMenu.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="~/assets/admin/css/custom.css" rel="stylesheet">
    <script src="~/assets/admin/js/custom.js"></script>
    <script src="~/assets/admin/js/screenfull.js"></script>
    <script src="~/assets/admin/js/jquery.nicescroll.js"></script>
    <link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                Shared / Admin
                return false;
            }
            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
</head>
<body class="body" id="body">
    <div id="tpAlertContainer" style="display: none;">
        <div id="tpAlertOverlayContainer"></div>
        <div id="tpProgressContainer" class="txt-center">
            <img src='~/assets/admin/images/loading-square.gif' alt='' />
        </div>
    </div>
    <div id="wrapper">
        <header id="header">
            @Html.Partial("~/Views/Shared/DashBoard/_Header.cshtml")
        </header>
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
        <footer id="footer">
            @Html.Partial("~/Views/Shared/DashBoard/_Footer.cshtml")
        </footer>
    </div>
    <!--scrolling js-->
    <script src="~/assets/admin/js/scripts.js"></script>
    <!--//scrolling js-->
    <script src="~/assets/admin/js/bootstrap.min.js"></script>
    <!--Common Files -->
    <script src="~/assets/common.js"></script>
    <!--Common Files END -->
    <!--Auto Search Plugin Start-->
    <link href="~/assets/admin/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/assets/admin/js/jquery-ui.js"></script>
    <!--Auto Search Plugin END -->
    <!--Material Sales -->
    <script src="~/assets/materialSales.js"></script>
    <!--Material Sales END -->
    <!--Material Purchase -->
    <script src="~/assets/materialPurchase.js"></script>
    <!--Material Purchase END -->
    <!--Material Order Creation -->
    <script src="~/assets/materiaOrderCreation.js"></script>
    <!--Material Order Creation END -->
</body>
</html>
