@{
    Layout = "~/Views/Shared/DashBoard/_Layout.cshtml";
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <!--banner-->
        <div class="banner">
            <h2>
                <a href="/home/dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Dashboard</span>
            </h2>
        </div>
        <div id="modelForm">
            <div class="blank">
                <div class="blank-page">
                    <div class="col-md-12"><a href="~/admin/dashboard" class="btn btn-primary"><< Back To DashBoard</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

